body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Discogs {
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
}

.slideshow {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.Imgs {
    box-shadow: 5px 5px 15px -4px #000000;
    border-radius: 20px;
}
